<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改昵称</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/address.css">
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="/js/trem.js"></script>
</head>
<body>
<div class="main">
    <div class="top">
        <div class="return"><img src="img/fh.png"/></div>
        <div class="addr">新增收货地址</div>
    </div>
    <div class="names">
        <div class="namees">收货人:</div>
        <input type="text" class="namey">
    </div>
    <div class="names">
        <div class="namees">电话号码:</div>
        <input type="text" class="namey">
    </div>
    <div class="names">
        <div class="namees">所在地区:</div>
        <input type="text" class="nameyx">
        <div class="xyb"><img src="img/13.png"/></div>
    </div>
    <div class="names">
        <div class="namees">详细地址:</div>
        <input type="text" class="namey" placeholder="街道，门牌号等">
    </div>
    <div class="edit">
        <div class="xuan"></div>
        <div class="add">设置为默认地址</div>
    </div>
</div>
</body>
</html>