<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择地址</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/privateData.css">
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.glide.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/trem.js"></script>
</head>
<body>
<div class="main">
    <div class="top">
        <div class="er"><img src="img/fh.png"/></div>
        <div class="w">选择地区</div>
    </div>
    <div class="toux">
        <span>北京</span>
        <div class="yhm">
            <img src="img/13.png"/>
        </div>
    </div>
    <div class="toux">
        <span>上海</span>
        <div class="yhm">
            <img src="img/13.png"/>
        </div>
    </div>
    <div class="toux">
        <span>广东省</span>
        <div class="yhm">
            <img src="img/13.png"/>
        </div>
    </div>
    <div class="toux">
        <span>辽宁省</span>
        <div class="yhm">
            <img src="img/13.png"/>
        </div>
    </div>
    <div class="toux">
        <span>内蒙古</span>
        <div class="yhm">
            <img src="img/13.png"/>
        </div>
    </div>
    <div class="toux">
        <span>黑龙江</span>
        <div class="yhm">
            <img src="img/13.png"/>
        </div>
    </div>
</div>
</body>
</html>