<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收藏</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/collect.css">
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.glide.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/trem.js"></script>
</head>
<body>
    <div class="main">
        <div class="top">
            <div class="er"><img src="img/fh.png"/></div>
            <div class="w">收藏的宝贝</div>
        </div>
        <div class="sp">
            <div class="sps">
                <div class="spt">
                    <div class="tub">
                        <img src="img/s1.png"/>
                    </div>
                </div>
                <div class="bt">67385WIT</div>
                <div class="j">百万高清网络摄像机，130万网络摄像头.</div>
                <div class="xl">月销125笔</div>
                <div class="jq">
                    ￥635元
                    <div class="g">
                        <img src="img/gou.png" />
                    </div>
                </div>
            </div>
            <div class="sps">
                <div class="spt">
                    <div class="tub">
                        <img src="img/s2.png"/>
                    </div>
                </div>
                <div class="bt">67385WIT</div>
                <div class="j">百万高清网络摄像机，130万网络摄像头.</div>
                <div class="xl">月销125笔</div>
                <div class="jq">
                    ￥635元
                    <div class="g">
                        <img src="img/gou.png" width="100%" height="100%"/>
                    </div>
                </div>
            </div>
            <div class="sps">
                <div class="spt">
                    <div class="tub">
                        <img src="img/s3.png"/>
                    </div>
                </div>
                <div class="bt">67385WIT</div>
                <div class="j">百万高清网络摄像机，130万网络摄像头.</div>
                <div class="xl">月销125笔</div>
                <div class="jq">
                    ￥635元
                    <div class="g">
                        <img src="img/gou.png" width="100%" height="100%"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>