<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>待评价</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dsh.css">
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.glide.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/trem.js"></script>
</head>
<body>
<div class="main">
    <div class="top">
        <div class="er"><img src="img/fh.png"/></div>
        <div class="w">待评价</div>
    </div>
    <div class="xq">
        <div class="time">2016-8-31 16:18</div>
        <div class="tu"><img src="img/xq1.png"/></div>
        <div class="name">C925可视门铃</div>
        <div class="sl">共一件商品</div>
        <div class="jq">￥138元<span>×1</span></div>
        <div class="fk">
            <span>总金额:138元 </span>&nbsp;&nbsp;
        </div>
        <div class="ms">
            <a href="/spdd">
              <input type="button"  value="评价">
            </a>
        </div>
        <div class="yyy">
            <input type="button"  value="查看物流">
        </div>
        <div class="yyy">
            <input type="button"  value="删除订单">
        </div>
    </div>
</div>
</body>
</html>