<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dz.css">
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.glide.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/trem.js"></script>
</head>
<body>
<div class="main">
    <div class="top">
        <div class="er"><img src="img/fh.png"/></div>
        <div class="w">管理收货地址</div>
        <div class="xx">
            <img src="img/jia.png"/>
        </div>
    </div>
    <div class="yy"></div>
    <div class="name">大林子<span>187****4722</span></div>
    <div class="dz">广东省深圳市南山区科技园</div>
    <div class="bj">
        <div class="xuan"></div>
        <div class="mr">设置为默认地址</div>
        <div class="sc">删除</div>
        <div class="sct"><img src="img/sc.png"/></div>
        <div class="sc">编辑</div>
        <div class="scts"><img src="img/bj.png"/></div>
    </div>
</div>
</body>
</html>