<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品分类</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fl.css">
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.glide.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/trem.js"></script>
</head>
<body>
<div class="main">
    <div class="top">
        <div class="er"><img src="img/2.png"/></div>
        <a href="/ss1">
            <input type="text" class="sr" placeholder="搜索">
        </a>
        <div class="kuo"><img src="img/f.png"/></div>
        <div class="yu"><img src="img/h.png"/></div>
        <div class="xx"><img src="img/5.png"/></div>
    </div>
    <div class="yy">
        <div class="fgz"></div>
        <div class="fgzh">视频监控</div>
        <div class="fgy"></div>
    </div>
    <div class="one">
        <div class="tu">
            <img src="img/s2.png"/>
        </div>
        <div class="tu1">C7812WIP</div>
        <div class="tu2">百万高清半球</div>
        <div class="tu3">635元</div>
    </div>
    <div class="one">
        <div class="tu">
            <img src="img/s2.png"/>
        </div>
        <div class="tu1">C7812WIP</div>
        <div class="tu2">百万高清半球</div>
        <div class="tu3">635元</div>
    </div>
    <div style="width: 100%;height: 6rem;float: left"></div>
    <% include ./index/button.ejs %>
</div>
</body>
</html>