<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购买详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/gmxq.css">
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.glide.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/trem.js"></script>
</head>
<body>
<div class="main">
    <div class="top">
        <div class="fh"><img src="img/fh.png"/></div>
        <span>在线商城</span>
    </div>
    <div class="slider">
        <ul class="slides">
            <li class="slide">
                <div class="box">
                    <div class="gg"><img src="img/22.png"/></div>
                </div>
            </li>
            <li class="slide">
                <div class="box">
                    <div class="gg"><img src="img/22.png"/></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="js">
        <div class="name">C25家用网络高清摄像机</div>
        <div class="jg">价格<span>189.00元</span></div>
        <div class="kc">库存<span>236件</span></div>
        <div class="sl">
            <span>数量</span>
            <input class="min" name="" type="button" value="-"/>
            <input class="text_box" type="text" value="0"/>
            <input class="add" type="button" value="+"/>
        </div>
    </div>
    <div class="sl">
        <span>颜色</span>
        <input class="ys" type="button" value="红色"/>
        <input class="ys" type="button" value="黑色"/>
    </div>
    <div class="er">
        <div class="er1">
            <div class="m">商品详情</div>
            <div class="mh"><img src="img/yfh.png"/></div>
        </div>
        <div class="er2">
            <div class="m">商品参数</div>
            <div class="mh"><img src="img/yfh.png"/></div>
        </div>
    </div>
    <div class="er2">
        <div class="ms" style="color:#969696">评论(1256)</div>
        <div class="mss">好评<span>100%</span></div>
        <div class="mhs"><img src="img/yfh.png"/></div>
    </div>
    <div class="pj">
        <div class="txnc">
            <div class="tx">
                <img src="img/tou.png"/>
            </div>
            <div class="nc">
                我***家
            </div>
            <div class="pl">
                性比价可以，好评！
            </div>
            <div class="plsj">
                2016-11-3
            </div>
        </div>
    </div>
    <div class="youlike">
        猜你喜欢
    </div>
    <div class="xq">
        <div class="xqq">商品详情</div>
        <div class="xqq">参数</div>
    </div>
    <div class="nr1"><img src="imgs/13.png"/></div>
    <div class="nr2"><img src="imgs/14.png"/></div>
    <div class="nr1"><img src="imgs/12.png"/></div>

    <div style="width: 100%;height: 8rem;float: left"></div>
    <div class="bottom">
        <div class="bot1">共计:<span>189.00元</span></div>
        <div class="bot2">加入购物车</div>
        <div class="bot3">立即购买</div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(function () {
        $(".add").click(function () {
            $(".text_box").val(parseInt($(".text_box").val()) + 1);
        });
        $(".min").click(function () {
            if ($(".text_box").val() > 0) {
                $(".text_box").val(parseInt($(".text_box").val()) - 1);
            }
        });
    })
    var glide = $('.slider').glide({});
</script>
</html>