<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/grzl.css">
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.glide.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/trem.js"></script>
</head>
<body>
<div class="main">
    <div class="top">
        <div class="er"><img src="img/fh.png"/></div>
        <div class="w">个人资料</div>
    </div>
    <div class="bj"></div>
    <div class="toux">
        <span>头像</span>
        <div class="tx">
            <img src="img/toux.png"/>
        </div>
    </div>
    <div class="toux">
        <span>用户名</span>
        <div class="yhm">
            <img src="img/yfh.png"/>
        </div>
        <div class="yh">大林</div>
    </div>
    <div class="toux">
        <span>昵称</span>
        <div class="yhm">
            <img src="img/yfh.png"/>
        </div>
        <div class="yh">大玲子</div>
    </div>
    <div class="toux">
        <span>性别</span>
        <div class="yhm">
            <img src="img/yfh.png"/>
        </div>
        <div class="yh">女</div>
    </div>
    <div class="toux">
        <span>收货地址</span>
        <div class="yhm">
            <img src="img/yfh.png"/>
        </div>
    </div>
</div>
</body>
</html>