<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/gwc.css">
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.glide.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/trem.js"></script>
</head>
<body>
<div class="main">
    <div class="top">
        <div class="er"><img src="img/fh.png"/></div>
        <div class="w">购物车</div>
        <div class="xx">完成</div>
    </div>
    <div class="sp">
        <div class="gx"></div>
        <div class="tu"><img src="img/s1.png"/></div>
        <div class="name">C925可视门铃</div>
        <div class="ys">粉色</div>
        <div class="jq">354元</div>
        <div class="sl">
            <input class="min" name="" type="button" value="-"/>
            <input class="text_box" type="text" value="0"/>
            <input class="add" type="button" value="+"/>
        </div>
    </div>
    <div class="sp">
        <div class="gx"></div>
        <div class="tu"><img src="img/s1.png"/></div>
        <div class="name">C925可视门铃</div>
        <div class="ys">粉色</div>
        <div class="jq">354.00元</div>
        <div class="sl">
            <input class="min" name="" type="button" value="-"/>
            <input class="text_box" type="text" value="0"/>
            <input class="add" type="button" value="+"/>
        </div>
    </div>
    <div class="youlike">
        <div class="yltu">
            <img src="/img/14.png"/>
        </div>
        <div class="na">内存卡80G&nbsp;<span>20元</span></div>
        <div class="jjg">
            加价购
        </div>
    </div>
    <div class="jjgs">
        加价购
    </div>
    <div class="jjgsx">

    </div>
    <div style="width: 100%;height: 10rem;float: left;background-color:#efefef"></div>   <!--占位符-->
    <% include ./index/button.ejs %>
    <div class="js">
        <div class="gxs"></div>
        <div class="qx">全选</div>
        <div class="jsys">去结算</div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(function () {
        $(".add").click(function () {
            $(".text_box").val(parseInt($(".text_box").val()) + 1);
        });
        $(".min").click(function () {
            if ($(".text_box").val() > 0) {
                $(".text_box").val(parseInt($(".text_box").val()) - 1);
            }
        });
    })
</script>
</html>