<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>商城主页</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/index.css">
  <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.glide.min.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/trem.js"></script>
</head>
<body>
<div class="main">
  <div class="mains">
    <% include ./index/top.ejs %>
    <% include ./index/button.ejs %>
  </div>
</div>
</body>
<script type="text/javascript">
  var glide = $('.slider').glide({});
</script>
</html>