<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改性别</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/address.css">
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="/js/trem.js"></script>
</head>
<body>
<div class="main">
    <div class="top">
        <div class="return"><img src="img/fh.png"/></div>
        <div class="addr">修改性别</div>
    </div>
    <div class="names">
        <div class="namees">男</div>
        <div class="nameesy"></div>
    </div>
    <div class="names">
        <div class="namees">女</div>
        <div class="nameesy"><img src="img/18.png"/></div>
    </div>
</div>
</body>
</html>