<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索商品2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/seek2.css">
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.glide.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/trem.js"></script>
</head>
<body>
<div class="main">
    <div class="top">
        <div class="er"><img src="img/2.png"/></div>
        <input type="text" class="sr" placeholder="搜索">
        <div class="kuo"><img src="img/f.png"/></div>
        <div class="yu"><img src="img/h.png"/></div>
        <div class="xx"><img src="img/5.png"/></div>
    </div>
    <div class="dh">
        <div class="dh1">综合</div>
        <div class="dh1">销量</div>
        <div class="dh1">上新</div>
        <div class="dh1">
            价格
            <div class="jg">
                <img src="img/s.png"/>
            </div>
        </div>
        <div class="dh1">
            <div class="bj">
                <a href="/seek1">
                   <img src="img/bj1.png"/>
                </a>
            </div>
        </div>
    </div>
    <div class="sp">
        <a href="/commodityNews" style="color: black">
            <div class="left">
                <div class="tu">
                    <img src="img/17.png">
                </div>
                <div class="jie1">C7835WIP百万高清半球</div>
                <div class="jie3">
                    ￥635
                </div>
            </div>
        </a>
        <div class="right">
            <div class="tu">
                <img src="img/17.png">
            </div>
            <div class="jie1">C7835WIP</div>
            <div class="jie3">
               ￥165
            </div>
        </div>
    </div>
    <% include ./index/button.ejs %>
</div>
</body>
</html>