<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索商品1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/seek1.css">
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.glide.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/trem.js"></script>
</head>
<body>
<div class="main">
    <div class="top">
        <div class="er"><img src="img/2.png"/></div>
        <input type="text" class="sr" placeholder="搜索">
        <div class="kuo"><img src="img/f.png"/></div>
        <div class="yu"><img src="img/h.png"/></div>
        <div class="xx"><img src="img/5.png"/></div>
    </div>
    <div class="dh">
        <div class="dh1">综合</div>
        <div class="dh1">销量</div>
        <div class="dh1">上新</div>
        <div class="dh1">
            价格
            <div class="jg">
                <img src="img/s.png"/>
            </div>
        </div>
        <div class="dh1">
            <div class="bj">
                <img src="img/15.png"/>
            </div>
        </div>
    </div>
    <div class="one">
        <div class="tu">
            <img src="img/s2.png"/>
        </div>
        <div class="tu1">C7812WIP百万高清半球</div>
        <div class="tu3">635元</div>
    </div>
    <div style="width: 100%;height: 6rem;float: left"></div>
    <% include ./index/button.ejs %>
</div>
</body>
</html>