<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/seek.css">
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.glide.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/trem.js"></script>
</head>
<body>
<div class="main">
    <div class="top">
        <div class="er"><img src="img/fh.png"/></div>
        <a href="/fl">
         <input type="text" class="sr" placeholder="搜索">
        </a>
        <div class="kuo"><img src="img/f.png"/></div>
        <div class="yu"><img src="img/h.png"/></div>
        <div class="xx">搜索</div>
    </div>
    <div class="sp">
        猜你喜欢
    </div>
    <div class="lb">c37-AR</div>
    <div class="lb">c37-AR</div>
    <div class="lb">c37-AR</div>
    <div class="lb">c37-AR</div>
    <div class="lb">c37-AR</div>
</div>
</body>
</html>