<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>待发货</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/waitingPaying.css">
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.glide.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/trem.js"></script>
</head>
<body>
<div class="main">
    <div class="top">
        <div class="goback"><img src="img/fh.png"/></div>
        <div class="motif">待发货</div>
    </div>
    <div class="details">
        <div class="time">2016-8-31 16:18</div>
        <div class="img"><img src="img/xq1.png"/></div>
        <div class="name">C925可视门铃</div>
        <div class="sl">共一件商品</div>
        <div class="money">￥138元<span>×1</span></div>
        <div class="Paying">
            总金额:￥138元
            <div class="ms">
                <a href="dsh">
                 <input type="button"  value="提醒发货">
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>