*{
    font-family: 黑体;
}
.main{
    max-width: 640px;
    height: auto;
    margin: 0 auto;
}
.top{
    width: 100%;
    height:1.5rem;
    float: left;
    background-color:#18baf2;
}
.main img{
    width: 100%;
    height:100%;
    float: left;
}
.return{
    width: 0.4rem;
    height: 0.8rem;
    float: left;
    margin-left: 0.5rem;
    margin-top: 0.34rem;
}
.addr{
    width: 10rem;
    height: 1rem;
    float: left;
    color: white;
    text-align: center;
    line-height: 1rem;
    margin-left: 1rem;
    margin-top: 0.25rem;
    font-size: 0.7rem;
}
.Symbol{
    width: 0.7rem;
    height: 0.7rem;
    float: right;
    color: white;
    font-size: 0.63rem;
    margin-right: 0.4rem;
    margin-top: 0.4rem;
}
.name{
    width:100%;
    height: 1.2rem;
    float: left;
    line-height: 1.2rem;
    font-size: 0.53rem;
    text-indent: 0.5rem;
}
.name span{
    width:4rem;
    height: 1.2rem;
    float: right;
    line-height: 1.2rem;
    font-size: 0.5rem;
    margin-right: 6.5rem;
}
.addre{
    width:100%;
    height: 1.2rem;
    float: left;
    color:#727272;
    line-height: 1.2rem;
    font-size: 0.5rem;
    text-indent: 0.5rem;
    border-bottom:1px solid #e0e0e0;
}
.edit{
    width:100%;
    height: 1.5rem;
    float: left;
    border-bottom:1px solid #e0e0e0;
}
.xuan{
     width:0.7rem;
     height: 0.7rem;
     float: left;
     margin-top: 0.4rem;
     margin-left: 0.3rem;
     border-radius: 50%;
     border: 1px solid #707070;
 }
.add{
    width:4rem;
    height: 1.5rem;
    line-height: 1.5rem;
    float: left;
    font-size: 0.55rem;
    margin-left: 0.3rem;
}
.delete{
    width:2rem;
    height: 1.5rem;
    line-height: 1.5rem;
    float: right;
    font-size: 0.55rem;
}
.deleteimg{
    width:0.6rem;
    height: 0.8rem;
    float: right;
    margin-top: 0.35rem;
    margin-right: 0.2rem;
    font-size: 0.55rem;
}
.scts{
    width:0.7rem;
    height: 0.8rem;
    float: right;
    margin-top: 0.35rem;
    margin-right: 0.2rem;
    font-size: 0.55rem;
}

.names{
    width: 100%;
    height:1.8rem;
    float: left;
    font-size: 0.61rem;
    line-height: 1.8rem;
    border-bottom: 1px solid #e0e0e0;
}

.namees{
    width:3rem;
    height:1.8rem;
    float: left;
    text-indent: 0.2rem;
    line-height: 1.8rem;
}
.namey{
    width:11rem;
    height:1.8rem;
    float: left;
    font-size: 0.6rem;
    line-height: 1.8rem;
    border: 0;
}
.nameyx{
    width:10rem;
    height:1.8rem;
    float: left;
    font-size: 0.6rem;
    line-height: 1.8rem;
    border: 0;
}
.xyb{
    width:0.35rem;
    height:0.6rem;
    float: left;
    margin-top: 0.6rem;
}
.nameesy{
    width:1rem;
    height:0.6rem;
    float: right;
    margin-top: 0.6rem;
    margin-right: 0.5rem;
}

input:focus {
    outline:none;
}