*{
    font-family: 黑体;
}
.main{
    max-width: 640px;
    height: auto;
    margin: 0 auto;
}
.main img{
    width: 100%;
    height: 100%;
    float: left;
}
.top{
    width: 100%;
    height:1.5rem;
    float: left;
    background-color:#18baf2;
}
.er{
    width: 0.7rem;
    height: 0.7rem;
    float: left;
    margin-left: 0.6rem;
    margin-top: 0.4rem;
}
.sr{
    width: 10.4rem;
    height: 1.2rem;
    float: left;
    text-indent: 1.3rem;
    border-radius: 0.3rem;
    font-size: 0.6rem;
    line-height: 1rem;
    margin-left: 0.5rem;
    margin-top: 0.15rem;
    background-color: white;
}
.kuo{
    width: 0.7rem;
    height: 0.7rem;
    float: left;
    margin-left: -10rem;
    margin-top: 0.4rem;
}
.yu{
    width: 0.5rem;
    height: 0.7rem;
    float: left;
    margin-left: -1rem;
    margin-top: 0.4rem;
}
.xx{
    width: 0.7rem;
    height: 0.7rem;
    float: left;
    margin-left: 0.5rem;
    margin-top: 0.4rem;
}
.fgz{
    width: 5rem;
    height: 0.5rem;
    float: left;
    border-bottom: 1px solid #d3d3d3;
}
.fgzh{
    width: 4rem;
    height: 1rem;
    float: left;
    text-align: center;
    line-height: 1rem;
    font-size: 0.6rem;
}
.fgy{
    width: 5rem;
    height: 0.5rem;
    float: left;
    border-bottom: 1px solid #d3d3d3;
}
.yy{
    width: 14rem;
    height: 1rem;
    float: left;
    background-color:#efefef;
}
.one{
    width: 100%;
    height:12rem;
    float: left;
    text-align: center;
    font-size: 0.67rem;
    border-bottom: 2px solid #e0e0e0;
}
.tu{
    width: 6rem;
    height:6rem;
    margin: 1.7rem auto;
}
.tu1{
    width: 100%;
    height:0.8rem;
    line-height: 0.8rem;
    float: left;
}
.tu2{
    width: 100%;
    height:0.8rem;
    float: left;
    line-height: 0.8rem;
}
.tu3{
    width: 100%;
    height:0.8rem;
    float: left;
    color:#ff0000;
    line-height: 0.8rem;
}
.di{
    width: 14rem;
    height: 1.9rem;
    float: left;
    bottom: 0;
    position: fixed;
    background-color: white;
    border-top: 1px solid #e0e0e0;
}
.sy{
    width: 25%;
    height: 1.8rem;
    float: left;
}
.sys{
    width: 0.9rem;
    height:0.9rem;
    float: left;
    margin-top: 0.2rem;
    margin-left: 35%;
}
.syx{
    width: 100%;
    height: 0.5rem;
    float: left;
    color: #8b8b8b;
    line-height: 0.34rem;
    text-align: center;
    font-size: 0.5rem;
    margin-top: 0.2rem;
}
.ding{
    width: 2rem;
    height: 2rem;
    position: fixed;
    right: 0;
    top: 13rem;
}
