*{
    font-family: 黑体;
}
.main{
    max-width: 640px;
    height: auto;
    margin: 0 auto;
}
.top{
    width: 100%;
    height:1.5rem;
    float: left;
    background-color:#18baf2;
}
.main img{
    width: 100%;
    height:100%;
    float: left;
}
.er{
    width: 0.4rem;
    height: 0.8rem;
    float: left;
    margin-left: 0.5rem;
    margin-top: 0.34rem;
}
.w{
    width: 10rem;
    height: 1rem;
    float: left;
    color: white;
    text-align: center;
    line-height: 1rem;
    margin-left: 1rem;
    margin-top: 0.25rem;
    font-size: 0.7rem;
}
.xx{
    width: 0.8rem;
    height: 0.7rem;
    float: left;
    color: white;
    font-size: 0.63rem;
    margin-left: 0.3rem;
    margin-top: 0.4rem;
}
.bj{
    width:100%;
    height: 0.2rem;
    float: left;
    background-color:#efefef;
}
.toux{
    width:100%;
    height: 1.5rem;
    float: left;
    line-height: 1.5rem;
    font-size: 0.6rem;
    text-indent: 0.5rem;
    border-bottom: 1px solid #e0e0e0;
}
.toux span{
    width: 4rem;
    float: left;
}
.tx{
    width:1.2rem;
    height: 1.2rem;
    float: right;
    margin-top: 0.15rem;
    margin-right: 0.5rem;
}
.tx img{
    border-radius: 50%;
}
.yh{
    width: 5rem;
    height: 1.5rem;
    float: right;
    text-align: right;
    overflow: hidden;
    margin-right: 0.5rem;
}
.yhm{
    width:0.3rem;
    height: 0.6rem;
    float: right;
    margin-top: 0.45rem;
    margin-right: 0.6rem;
}
