*{
    font-family: 黑体;
}
.main{
     max-width: 640px;
     height: auto;
     margin: 0 auto;
 }
.main img{
    width: 100%;
    height: 100%;
    float: left;
}
.top{
    width: 100%;
    height:1.5rem;
    float: left;
    background-color:#18baf2;
}
.er{
    width: 0.7rem;
    height: 0.7rem;
    float: left;
    margin-left: 0.6rem;
    margin-top: 0.4rem;
}
.sr{
    width: 10.4rem;
    height: 1.2rem;
    float: left;
    text-indent: 1.3rem;
    border-radius: 0.3rem;
    font-size: 0.6rem;
    line-height: 1rem;
    margin-left: 0.5rem;
    margin-top: 0.15rem;
    background-color: white;
}
.kuo{
    width: 0.7rem;
    height: 0.7rem;
    float: left;
    margin-left: -10rem;
    margin-top: 0.4rem;
}
.yu{
    width: 0.5rem;
    height: 0.75rem;
    float: left;
    margin-left: -1rem;
    margin-top: 0.35rem;
}
.xx{
    width: 0.7rem;
    height: 0.7rem;
    float: left;
    margin-left: 0.5rem;
    margin-top: 0.4rem;
}
.dh{
    width: 100%;
    height: 1.5rem;
    float: left;
}
.dh1{
    width: 20%;
    height: 1.5rem;
    float: left;
    color:#8d8d8d;
    line-height: 1.5rem;
    text-align: center;
    font-size: 0.6rem;
    border-bottom: 1px solid #d9d9d9;
}
.jg{
    width: 0.35rem;
    height: 0.47rem;
    float: right;
    margin-top: 0.5rem;
    margin-right: 0.45rem;
}
.bj{
    width: 0.55rem;
    height: 0.55rem;
    float: left;
    margin-left: 1rem;
    margin-top:0.45rem ;
}
.sp{
    width: 100%;
    float: left;
    margin-top: 0.07rem;
}
.left{
    width: 50%;
    height: 8.4rem;
    float: left;
    text-align: center;
    box-sizing:border-box;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.right{
    width: 50%;
    height: 8.4rem;
    float: left;
    text-align: center;
    box-sizing:border-box;
    border-bottom: 1px solid #d9d9d9;
}
.tu{
    width: 3.5rem;
    height:3.3rem;
    margin: 0 auto;
    margin-top: 1.7rem;
    background-color: pink;
}
.tu img{
    width: 100%;
    height:100%;
    float: left;
}
.jie1{
    width: 100%;
    height:0.8rem;
    float: left;
    font-size: 0.6rem;
    line-height:0.8rem;
    margin-top: 1.2rem;
}

.jie3{
    width: 100%;
    height:0.6rem;
    float: left;
    color:#ff7633;
    font-size: 0.5rem;
    line-height: 0.6rem;
    margin-top: 0.1rem;
}

.di{
    width: 14rem;
    height: 1.9rem;
    float: left;
    bottom: 0;
    position: fixed;
    background-color: white;
    border-top: 1px solid #e0e0e0;
}
.sy{
    width: 25%;
    height: 1.8rem;
    float: left;
}
.sys{
    width: 0.9rem;
    height:0.9rem;
    float: left;
    margin-top: 0.2rem;
    margin-left: 35%;
}
.syx{
    width: 100%;
    height: 0.5rem;
    float: left;
    color: #8b8b8b;
    line-height: 0.34rem;
    text-align: center;
    font-size: 0.5rem;
    margin-top: 0.2rem;
}
.ding{
    width: 2rem;
    height: 2rem;
    position: fixed;
    right: 0;
    top: 13rem;
}

