<div class="di">
    <a href="/">
        <div class="sy">
            <div class="sys">
                <img src="img/bu1.png"/>
            </div>
            <div class="syx">首页</div>
        </div>
    </a>
    <a href="/classify">
        <div class="sy">
            <div class="sys"><img src="img/bu4.png"/></div>
            <div class="syx">分类</div>
        </div>
    </a>
    <a href="/shoppingCar">
        <div class="sy">
            <div class="sys"><img src="img/bu6.png"/></div>
            <div class="syx">购物车</div>
        </div>
    </a>
    <a href="/memberCenter">
        <div class="sy">
            <div class="sys"><img src="img/bu8.png"/></div>
            <div class="syx">会员中心</div>
        </div></a>

</div>
<!--<a href="javascript:scroll(0,0)">-->
    <!--<div class="ding">-->
        <!--<img src="img/ding.png"/>-->
    <!--</div>-->
<!--</a>-->