<div class="di">
    <div class="sy">
        <div class="sys">
            <img src="img/bu1.png"/>
        </div>
        <div class="syx">首页</div>
    </div>
    <div class="sy">
        <div class="sys"><img src="img/bu3.png"/></div>
        <div class="syx">分类</div>
    </div>
    <div class="sy">
        <div class="sys"><img src="img/bu5.png"/></div>
        <div class="syx">购物车</div>
    </div>
    <div class="sy">
        <div class="sys"><img src="img/bu7.png"/></div>
        <div class="syx">会员中心</div>
    </div>
</div>
<!--<a href="javascript:scroll(0,0)">-->
    <!--<div class="ding">-->
        <!--<img src="img/ding.png"/>-->
    <!--</div>-->
<!--</a>-->