<div class="slider">
    <ul class="slides">
        <li class="slide"><div class="box"><img src="imgs/1.png"/></div></li>
        <li class="slide"><div class="box"><img src="imgs/1.png"/></div></li>
    </ul>
</div>
<div class="top">
    <div class="er"><img src="imgs/3.png"/></div>
    <a href="../ss">
        <input type="text" class="sr" placeholder="搜索">
    </a>
    <div class="kuo"><img src="imgs/2.png"/></div>
    <div class="yu"><img src="imgs/4.png"/></div>
    <div class="xx"><img src="imgs/5.png"/></div>
</div>
<div class="se">
    <div class="se1">
        <div class="tu">
            <img src="imgs/6.png"/>
        </div>
        <span>全部商品</span>
    </div>
    <div class="se1">
        <div class="tu">
            <img src="imgs/7.png"/>
        </div>
        <span>全部商品</span>
    </div>
    <div class="se1">
        <div class="tu">
            <img src="imgs/6.png"/>
        </div>
        <span>全部商品</span>
    </div>
    <div class="se1">
        <div class="tu">
            <img src="imgs/7.png"/>
        </div>
        <span>全部商品</span>
    </div>
</div>
<div class="se">
    <div class="se1">
        <div class="tu">
            <img src="imgs/6.png"/>
        </div>
        <span>全部商品</span>
    </div>
    <div class="se1">
        <div class="tu">
            <img src="imgs/7.png"/>
        </div>
        <span>全部商品</span>
    </div>
    <div class="se1">
        <div class="tu">
            <img src="imgs/6.png"/>
        </div>
        <span>全部商品</span>
    </div>
    <div class="se1">
        <div class="tu">
            <img src="imgs/7.png"/>
        </div>
        <span>全部商品</span>
    </div>
</div>
<div class="d1"><img src="imgs/8.png"/></div>
<div class="a"></div>
<div class="dsa">
    <div class="s">
        <div class="s2"><img src="img/22.png"/></div>
        <div class="s3">
            <span>高清网络摄像机</span>
            <p>199元</p>
        </div>
    </div>
    <div class="ss">
        <div class="ss2"><img src="img/22.png"/></div>
        <div class="ss3">
            <span>高清网络摄像机</span>
            <p>299元</p>
        </div>
    </div>
    <div class="s">
        <div class="s2"><img src="img/22.png"/></div>
        <div class="s3">
            <span>高清网络摄像机</span>
            <p>199元</p>
        </div>
    </div>
    <div class="ss">
        <div class="ss2"><img src="img/22.png"/></div>
        <div class="ss3">
            <span>高清网络摄像机</span>
            <p>299元</p>
        </div>
    </div>
</div>
<div class="yy">
    <div class="fgz"></div>
    <div class="fgzh">报警防盗</div>
    <div class="fgy"></div>
</div>
<div class="at">
    <img src="imgs/15.png"/>
</div>
<div class="a"></div>
<div class="d1s">
    <img src="imgs/9.png"/>
</div>
<div class="kg" style="width: 100%;height: 5rem;float: left"></div>